{% extends "base.html" %} {% block content %}

<div>
    <h3>{{ pet.name|capfirst }}</h3>
    {% if pet.breed %}
    <p>Breed: {{ pet.breed }}</p>
    {% endif %} {% if pet.age %}
    <p>Age: {{ pet.age }}</p>
    {% endif %} {% if pet.sex %}
    <p>Gender: {{ pet.sex }}</p>
    {% endif %} {% if pet.description %}
    <p>Description: {{ pet.description }}</p>
    {% endif %} {% if pet.vaccinations.all %}
    <p>Vaccination: </p>
    <ul>
        {% for vaccination in pet.vaccinations.all %}
        <li>
            {{ vaccination.name }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>Submitted by: {{ pet.submitter }} on {{ pet.submission_date|date:"d M Y" }}</p>
</div>

{% endblock %}